<a href="https://colab.research.google.com/github/FelipePinheiro964/Fase-1---estat-stica-aplicada/blob/main/Fase_1_Projeto_estatistica_aplicada.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importar bibliotecas

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Ler arquivo e exibir para definir dados de cada tabela

In [9]:
def carregar_dados_iniciais_chapas():
    f = "fifa.csv"
    dados_fifa = pd.read_csv(f, sep=",")
    # print("O arquivo carregado deve ser obrigatoriamente .csv,\ncom colunas pre-definidas.")
    # print("Utilize apenas o modelo especificado!")
    return dados_fifa

def exibir_tabela(dados_fifa):
    # pd.set_option('display.max.rows', None)
    print("Tabela de chapas: ")
    display(dados_fifa)

def main():
    dados_fifa = carregar_dados_iniciais_chapas()
    exibir_tabela(dados_fifa)

main()

O arquivo carregado deve ser obrigatoriamente .csv,
com colunas pre-definidas.
Utilize apenas o modelo especificado!
Tabela de chapas:

,id,name,full_name,overall_rating,value_euro,wage_euro,nationality,national_team,club_team,age,...,crossing,finishing,heading_accuracy,short_passing,dribbling,jumping,strength,long_shots,aggression,GK_reflexes
0,158023,Messi,Lionel Andrés Messi Cuccittini,94,110500000,565000,Argentina,Argentina,FC Barcelona,31,...,86,95,70,92,97,68,66,94,48,8
1,153079,Aguero,Sergio Leonel Agüero del Castillo,89,64500000,300000,Argentina,Argentina,Manchester City,30,...,70,93,77,81,89,81,73,83,65,14
2,211110,Dybala,Paulo Bruno Exequiel Dybala,89,89000000,205000,Argentina,Argentina,Juventus,25,...,82,84,68,87,92,75,65,88,48,8
3,201399,Icardi,Mauro Emanuel Icardi Rivero,87,64500000,130000,Argentina,Argentina,Inter,26,...,46,91,91,73,77,94,76,70,56,9
4,226226,Lo Celso,Giovani Lo Celso,82,30000000,83000,Argentina,Argentina,Real Betis,22,...,75,77,59,82,84,64,69,76,65,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
713,186130,Chester,James Chester,74,4400000,18000,Wales,Wales,Aston Villa,30,...,54,33,73,68,60,84,78,31,72,13
714,170084,Hennessey,Wayne Hennessey,75,4000000,34000,Wales,Wales,Crystal Palace,32,...,11,12,14,29,8,41,68,10,21,71
715,184716,Allen,Joe Allen,76,7500000,44000,Wales,Wales,Stoke City,28,...,73,68,52,77,74,81,60,58,81,8
716,205923,Davies,Ben Davies,80,15000000,82000,Wales,Wales,Tottenham Hotspur,25,...,82,58,67,79,76,73,69,52,76,14
717,173731,Bale,Gareth Frank Bale,88,60000000,355000,Wales,Wales,Real Madrid,29,...,87,86,84,85,87,87,80,91,65,6